<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{THE_REQUEST} \s/+(.*/)?login\.php[\s?] [NC]
    RewriteRule ^login\.php$ /ars/login [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?index\.php[\s?] [NC]
    RewriteRule ^index\.php$ /ars/index [R=301,L,QSA]
    RewriteRule ^inc/ajax_andamento\.php$ ajax/andamentos [L,QSA]
    RewriteRule ^inc/ajax_cliente\.php$ ajax/clientes [L,QSA]
    RewriteRule ^inc/ajax_metas\.php$ ajax/metas [L,QSA]
    RewriteRule ^inc/ajax_select\.php$ ajax/select [L,QSA]
    RewriteRule ^inc/ajax_sem\.php$ ajax/semanas [L,QSA]
    RewriteRule ^inc/ajax_setor\.php$ ajax/setores [L,QSA]
    RewriteRule ^inc/ajax_usu\.php$ ajax/usuarios [L,QSA]
    RewriteRule ^ajax_usu\.php$ ajax/usuarios [L,QSA]
    RewriteRule ^ajax_setor\.php$ ajax/setores [L,QSA]
    RewriteRule ^ajax_cliente\.php$ ajax/clientes [L,QSA]
    RewriteRule ^ajax_andamento\.php$ ajax/andamentos [L,QSA]
    RewriteRule ^ajax_metas\.php$ ajax/metas [L,QSA]
    RewriteRule ^ajax_sem\.php$ ajax/semanas [L,QSA]
    RewriteRule ^ajax_regioes\.php$ ajax/regioes [L,QSA]
    RewriteRule ^ajax_select\.php$ ajax/select [L,QSA]
    RewriteRule ^ajax_newpass\.php$ ajax/newpass [L,QSA]
    RewriteRule ^inc/ajax_newpass\.php$ ajax/newpass [L,QSA]
    RewriteRule ^dados_anda\.php$ detalhes/andamentos [L,QSA]
    RewriteRule ^dados_fatur\.php$ detalhes/faturamento [L,QSA]

    RewriteCond %{THE_REQUEST} \s/+(.*/)?admin\.php[\s?] [NC]
    RewriteRule ^admin\.php$ /ars/admin [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?usu\.php[\s?] [NC]
    RewriteRule ^usu\.php$ /ars/usuarios [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?clientes\.php[\s?] [NC]
    RewriteRule ^clientes\.php$ /ars/clientes [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?andamentos\.php[\s?] [NC]
    RewriteRule ^andamentos\.php$ /ars/andamentos [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?metas\.php[\s?] [NC]
    RewriteRule ^metas\.php$ /ars/metas [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?semanas\.php[\s?] [NC]
    RewriteRule ^semanas\.php$ /ars/semanas [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?regioes\.php[\s?] [NC]
    RewriteRule ^regioes\.php$ /ars/regioes [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?setor\.php[\s?] [NC]
    RewriteRule ^setor\.php$ /ars/setores [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?carteiras\.php[\s?] [NC]
    RewriteRule ^carteiras\.php$ /ars/carteiras [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?painel\.php[\s?] [NC]
    RewriteRule ^painel\.php$ /ars/painel [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?producao\.php[\s?] [NC]
    RewriteRule ^producao\.php$ /ars/producao [R=301,L,QSA]
    RewriteCond %{THE_REQUEST} \s/+(.*/)?relatorio\.php[\s?] [NC]
    RewriteRule ^relatorio\.php$ /ars/relatorio [R=301,L,QSA]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L,QSA]
</IfModule>
